@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
  min-height: 100vh;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.auth-form-container {
	@apply w-full flex justify-center items-start px-4 mt-12;

	.auth-form {
		@apply w-full flex flex-col items-center justify-center p-6 rounded-lg;
		max-width: 400px;
		background-color: #f8f8f8;

		h1 {
			@apply text-4xl text-center mt-0 mb-6;
		}

		label {
			@apply mt-4 mr-auto ml-1 text-sm;
		}

		input {
			@apply w-full border border-gray-300 rounded-lg py-2 px-4 mb-4 outline-none;
		}

		button {
			@apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-7 my-4 rounded-md transition-colors duration-200 ease-in-out;
		}

		.message {
			@apply text-center text-sm py-2 px-6 rounded transition-colors duration-200 ease-in-out;

			&.error {
				@apply bg-red-500 text-white;
			}

			&.success {
				@apply bg-green-500 text-white;
			}

			&.info {
				@apply bg-blue-500 text-white;
			}

			&:hover {
				@apply cursor-pointer bg-gray-400 text-white;
			}
		}
	}
}