@tailwind base;
@tailwind components;
@tailwind utilities;

$max-width: 1200px;

@layer base {
	#app {
		font-family: Avenir, Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-align: left;
		color: #2c3e50;
		min-height: 100vh;
	}
	
	html, body {
		margin: 0;
		padding: 0;
		border: 0;
		box-sizing: border-box;
	}

	.navbar-container {
		@apply w-full flex flex-col items-center justify-center shadow;

		.navbar {
			@apply px-2 py-0 w-full flex flex-row items-center justify-start;
			max-width: $max-width;

			.brand {
				@apply font-bold sm:text-2xl text-xl sm:py-3;
			}

			.link {
				@apply p-2 sm:px-4 sm:py-4 text-gray-600 hover:bg-gray-200 hover:text-gray-900 transition-colors duration-200 ease-in-out;
			}

			.spacer {
				flex: 1;
			}
		}
	}

	.main-container {
		@apply w-full flex flex-col items-center justify-center;

		.main {
			@apply py-2 px-4 w-full flex flex-col items-center justify-center;
			max-width: $max-width;
		}
	}

	.auth-form-container {
		@apply w-full flex justify-center items-start px-4 mt-12;

		.auth-form {
			@apply w-full flex flex-col items-center justify-center p-6 rounded-lg;
			max-width: 400px;
			background-color: #f8f8f8;

			h1 {
				@apply text-4xl text-center mt-0 mb-6;
			}

			label {
				@apply mt-4 mr-auto ml-1 text-sm;
			}

			input {
				@apply w-full border border-gray-300 rounded-lg py-2 px-4 mb-4 outline-none;
			}

			button {
				@apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-7 my-4 rounded-md transition-colors duration-200 ease-in-out;
			}

			.message {
				@apply text-center text-sm py-2 px-6 rounded transition-colors duration-200 ease-in-out;

				&.error {
					@apply bg-red-500 text-white;
				}

				&.success {
					@apply bg-green-500 text-white;
				}

				&.info {
					@apply bg-blue-500 text-white;
				}

				&:hover {
					@apply cursor-pointer bg-gray-400 text-white;
				}
			}
		}
	}

	.scanner-container {
		@apply w-full flex flex-col items-center justify-center mt-4;
		max-width: 500px;
	
		.message-container {
			@apply w-full flex flex-row items-center justify-start;
	
			.message {
				@apply text-sm text-white bg-gray-700 px-2;
			}
		}
	
		.actions {
			@apply w-full mt-4 flex flex-row items-center justify-end;
	
			button {
				@apply m-2 bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded;
			}
		}
	
		.legends {
			@apply w-full;
	
			div {
				@apply flex flex-row items-center justify-start;
			}
		}
	}

	.indicator {
		@apply w-2 h-2 rounded-full m-2;
	
		&.ready {
			background-color: #00ff00;
		}
	
		&.error {
			background-color: #ff0000;
		}
	
		&.in {
			background-color: #0080ff;
		}
	
		&.out {
			background-color: #1b1b1b;
		}
	
		&.loading {
			background-color: #dd8533;
		}
	}
	.search-result-container {
		@apply w-full;
	
		.result-for {
			@apply py-2  text-gray-600 text-sm;
	
			.result-for-text {
				@apply font-bold;
			}
	
			.query {
				@apply font-normal;
			}
		}
	
		.table-container {
			overflow-x: auto;
	
			table {
				@apply w-full border-b;
	
				th {
					@apply capitalize;
				}
	
				tr:first-child {
					@apply bg-gray-100;
				}
	
				tr:not(:last-child) {
					@apply border-b;
				}
	
				tr {
					td:last-child,
					th:last-child {
						@apply text-right;
					}
	
					th,
					td {
						@apply px-2 py-2 sm:py-3;
					}
	
					td {
						@apply text-gray-700;
						button {
							@apply py-1 px-2 ml-2 rounded;
	
							&.edit {
								@apply bg-teal-600 text-white;
							}
	
							&.delete {
								@apply bg-red-600 text-white hover:bg-red-700;
							}
						}
					}
				}
			}
		}
	
		.no-result {
			@apply text-center py-12 text-gray-500 font-bold;
		}
	}

	.add-form-container {
		@apply p-2 fixed top-0 left-0 right-0 bottom-0 w-screen h-screen z-10 flex flex-col items-center justify-center overflow-y-auto overflow-x-hidden;
		background-color: rgba(0, 0, 0, 0.5);
	
		.add-form {
			@apply bg-white w-full rounded p-4;
			max-width: 500px;
	
			.form-title {
				@apply text-2xl font-bold mb-4;
			}
	
			.message {
				@apply  text-center mb-4 text-sm;
	
				.error {
					@apply text-red-500;
					cursor: pointer;
				}
			}
	
			label {
				@apply text-gray-500 font-bold block text-sm pl-1;
			}
	
			input,
			select {
				@apply block border p-2 mb-2 sm:mb-4 w-full rounded-lg outline-none;
			}
	
			.add-form-actions {
				@apply flex flex-row items-center justify-end pt-4;
	
				button {
					@apply bg-blue-600 text-white py-2 px-4 rounded-md hover:bg-blue-700 transition duration-300 ease-in-out ml-4;
				}
			}
		}
	}
	.dashboard-container {
		@apply p-0 w-full;
	}
	.actions-container {
		@apply w-full flex flex-row items-center justify-center p-2 mb-2;
	
		.search-container {
			@apply flex flex-row items-center justify-center bg-gray-200 px-4 py-2 rounded-md transition duration-300 ease-in-out;
			flex: 1;
	
			label {
				@apply text-gray-600 font-bold;
			}
	
			input {
				@apply pl-4 bg-transparent outline-none border-0 w-full;
				flex: 1;
			}
	
			&:focus-within {
				@apply bg-gray-300;
			}
		}
	
		button {
			@apply bg-blue-600 text-white py-2 px-4 ml-4 rounded-md hover:bg-blue-700 transition duration-300 ease-in-out;
		}
	}

	.tabbed-menu {
		@apply w-full flex flex-wrap items-end justify-start mb-4;
	
		.item {
			@apply sm:py-2 sm:px-4 p-2;
	
			&.pointer {
				@apply cursor-pointer;
			}
	
			&.active {
				@apply border-x border-t border-gray-300;
			}
	
			&.inactive {
				border-bottom: 1px solid #e6e6e6;
			}
	
			&.spacer {
				flex: 1;
			}
	
			.count {
				@apply text-xs text-gray-600;
			}
		}
	}
}
